* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

body {
    background-color: rgba(82, 140, 51, .3);
}

h1, h2 {
    text-align: center;
}

.auth-form {
    padding: 20px;
}

.form-label {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
}

.form-label p {
    width: 80px;
    padding: 5px;
    font-size: 18px;
}

.reg-form {
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 15px;
    border-radius: 15px;
}

.reg-label input {
    border: none;
    outline: none;
    border-bottom: 2px solid #358fff;
    width: 100%;
    margin: 5px 0;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0;
}

.submit-button {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #358fff;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color .15s linear;
    border-radius: 5px;
}

.submit-button:disabled {
    background-color: #1564bd;
}

.submit-button:disabled:hover {
    cursor: default;
    background-color: #1564bd;
}


.submit-button:hover {
    background-color: #3e8bde;
}


.form-label input[type='text'], input[type='password']:not(.pass) {
    margin-left: 10px;
    outline: none;
    border: 1px solid #355c23;
    padding: 5px;
    font-size: 18px;

}

.modal-custom {
    position: fixed;
    width: 550px;
    background-color: #fff;
    box-shadow: 2px 2px 2px grey;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;

}

.modal-custom__input {
    padding: 5px;
    font-size: 14px;
    margin: 10px;
    width: 300px;
}

.modal-custom__button {
    padding: 7px 15px;
    font-size: 14px;
    margin: 10px;
    background-color: #2cca08;
    color: #fff;
    border: none;
    outline: none;
}

.modal-custom p {
    font-size: 14px;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
}

.auth-modal {
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
}

.container {
    width: 90%;
    margin: 0 auto;
    min-height: calc(100vh - 70px)
}

.buttons__container {
    display: flex;
    justify-content: center;
}

.image__container {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav__container {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .3);
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.95);
    margin-bottom: 30px;
    height: 60px;
    /*overflow: hidden;*/
    border-radius: 5px;
}

.logo {
    margin-right: 30px;
    background-image: url("./images/factory_icon-icons.com_70151.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
}

.nav__container a {
    padding: 18px;
    color: #323030;
    text-decoration: none;
    font-size: 18px;
    background: rgba(242, 242, 242, 0.55);
    transition: background .15s ease-in;
}

.nav__container a:nth-last-child(2) {
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

.nav__container a:hover {
    background: rgb(190, 226, 158);
    cursor: pointer;
}

.content {
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    border: 1px solid #a09292;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .3);
}

.inputs__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.input__container {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 5px;
}

.input__container input, select {
    padding: 4px;
    margin: 0 10px;
    width: 150px;
}

.modal__select {
    width: 70%;
}

.input__description {
    display: block;
    width: 40%;
    color: #535353;
    font-size: 14px;
}

.input__value-tag {
    color: #535353;
    font-size: 14px;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

h5 {
    color: #292929;
    font-weight: 800;
    font-size: 18px;
    margin: 20px 0 10px;
}

.DP-work__inputs {
    min-width: 400px;
    width: 46%;
    margin: 0 auto;
}

.result-table h5 {
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}

.flus-table {
    width: 100%;
    margin: 0;
}

.flus-table input {
    width: 50px;
}

.send-button {
    margin: 7px;
    font-size: 18px;
    padding: 7px;
    transition: background-color .15s ease;
}

.send-button:hover {
    background: #e3e0e0;
}

.content-help__button {
    padding: 10px 20px;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin: 5px;
}

.button_Excel {
    background-color: #219422;
}

.button_Word {
    background-color: #338ce3;
}

.help-table__container {
    width: 250px;
    margin: 10px;
}

footer {
    width: 100%;
    text-align: right;
    font-weight: 400;
    position: relative;
    padding: 10px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.95);
    margin-top: 30px;
    color: #4c4c4c;
}

.loader {
    background-image: url("images/Gear-0.3s-203px.gif");
    background-size: cover;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}


@media (max-width: 1080px) {
    .container {
        width: 90% !important;
    }

    .DP-work__inputs {
        width: 80%;
        margin: 0 auto;
        align-content: center;
    }

    p {
        font-size: 12px;
    }

    .buttons__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .send-button {
        margin: 5px;
        padding: 3px;
        width: 50%;
    }
}


.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
    border-color: #358fff;
    background-color: #358fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.message-warning {
    color: #ff5733;
    font-size: 18px;
}

.message-success {
    color: #199b50;
    font-size: 18px;
}
